[scenario]
    #textdomain wesnoth-Saving_Elensefar
    name= _ "A Deadly Alliance"
    id=sea_voyage_7
    next_scenario=sea_voyage_0

    map_data="{@campaigns/Saving_Elensefar/maps/Deadly_Alliance.map}"
    {SCENARIO_MUSIC northerners.ogg}
    {TURNS 30 26 24}

    {DAWN}
    {MORNING}
    {AFTERNOON}
    {DUSK}
    {FIRST_WATCH}
    {SECOND_WATCH}

    [side]
        side=1
        controller=human
        description=Meneldur
        type=Elvish Mariner
        canrecruit=1
        recruit=
        {AI_FOR_ALL}
    [/side]

    [side]
        side=2
        controller=ai
        description=Alandur
        type=Elvish Marshal
        canrecruit=1
#ifdef HARD
        recruit=Elvish Ranger,Elvish Marksman,Elvish Hero,Elvish Scout
        [ai]
            recruitment_pattern=fighter,fighter,mixed fighter,archer,scout
        [/ai]
#else
        recruit=Elvish Ranger,Elvish Hero,Elvish Scout
        [ai]
            recruitment_pattern=fighter,mixed fighter,scout
        [/ai]
#endif
        {GOLD 275 325 375}
        team_name=bad
    [/side]

    [side]
        side=3
        controller=ai
        description=Kra-Drano
        type=Orcish Warlord
        canrecruit=1
#ifdef HARD
        recruit=Orcish Crossbowman,Orcish Warrior,Orcish Slayer,Troll,Naga Warrior
#else
        recruit=Orcish Crossbowman,Orcish Warrior,Troll,Naga Warrior
#endif
        {GOLD 275 325 375}
        team_name=bad
    [/side]

    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Defeat enemy leaders"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Meneldur"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Madru"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Black the Red"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
        [/objectives]
        [gold]
            amount=100
        [/gold]
    [/event]

    {DEATHS_SEA}
    {GIVE_EXP}

    [event]
        name=start
        [recall]
            description=Madru
        [/recall]
        [recall]
            description=Black the Red
        [/recall]

        [message]
            description=Meneldur
            message= _ "Alandur! I suppose you want to battle? Very well, but there are orcs here also. How about we kill them first, then battle?"
        [/message]
        [message]
            description=Alandur
            message= _ "Well, if the orcs had not occupied Elensefar when they took it, but rather destroyed it, we would. But, those on the mainland have proved extremely resistant to attacks."
        [/message]
        [message]
            description=Madru
            message= _ "Why does that matter? All that's important is that they're going to kill you, too!"
        [/message]
        [message]
            description=Alandur
            message= _ "No, we're currently concluding a peace treaty with the orcs. And it would be bad form to attack the relatives of those who you are trying to make a bargain with!"
        [/message]
        [message]
            description=Meneldur
            message= _ "But these orcs are probably from a completely different tribe!"
        [/message]
        [message]
            description=Alandur
            message= _ "We can't take that chance! These orcs claim to be allies with the ones in Elensefar, so we MUST ally with them."
        [/message]
        [message]
            description=Kra-Drano
            message= _ "Uh, yeah, of course... we be da same tribe... uh... Prepare to die, stupid dog-man!"
        [/message]
        [if]
            [variable]
                name=fought_men_yet
                equals=yes
            [/variable]
            [then]
                [message]
                    description=Meneldur
                    message= _ "So the elves, too, have given up trying to stop the orcs... it seems we are on our own against them. And these elves, since we are their enemies anyway, must die."
                [/message]
            [/then]
            [else]
                [message]
                    description=Meneldur
                    message= _ "The elves are willing to surrender Elensefar to orcs, just because they began to lose a few battles? We really need to get back there, soon."
                [/message]
            [/else]
        [/if]
        [message]
            description=Black the Red
            message= _ "If we can just get to the western isle I spoke of, we may be able to defeat this alliance."
        [/message]
    [/event]

    [event]
        name=victory
        [if]
            [variable]
                name=fought_men_yet
                equals=yes
            [/variable]
            [then]
                [message]
                    description=Meneldur
                    message= _ "With Alandur dead, I think we have defeated all of the Elves who sail the sea. We probably won't see them until we reach Elensefar... we will have many enemies when we get there."
                [/message]
            [/then]
            [else]
                [message]
                    description=Meneldur
                    message= _ "Well, we won, but things might go badly for us later..."
                [/message]
            [/else]
        [/if]
        [set_variable]
            name=fought_elves_yet
            value=yes
        [/set_variable]
    [/event]
[/scenario]
